<!DOCTYPE html>
<html>
<head>
  <title>R3a2</title>
  <%= include_stylesheets :baseline, :login, :media => 'all' %>
  <%= include_javascripts :program %>
  <%= csrf_meta_tag %>
</head>
<body class="login_page">
  <div id="#container">
    <div id="topbar" class="header gradient_light">
      Top Bar
    </div>
    <div id="#content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
